<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar'); %>

        <div class="container-fluid">
            <div class="row">
                <%- include('../partials/sidebar'); %>

                    <main role="main" class="col-md-9 ms-sm-auto col-lg-10 pt-3 px-4">
                        <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                            <h1 class="h2">Add History Data</h1>
                        </div>

                        <form method="POST" action="<%= urlPost %>">
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input type="text" name="username" class="form-control"
                                    value="<%= game && game.username %>" />


                            </div>

                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" />
                            </div>

                            <br>
                            <br>
                            <h3>Bioadata</h3>
                            <hr>

                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" name="name" class="form-control"
                                    value="<%= game && game.Biodatum.name %>" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Hobby</label>
                                <input type="text" name="hobby" class="form-control"
                                    value="<%= game && game.Biodatum.hobby %>" />
                            </div>

                            <button type="submit" class="btn btn-success">Saved</button>
                        </form>
                    </main>
            </div>
        </div>

        <%- include('../partials/script'); %>
</body>

</html>