<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar'); %>

        <div class="container-fluid">
            <div class="row">
                <%- include('../partials/sidebar'); %>

                    <main role="main" class="col-md-9 ms-sm-auto col-lg-10 pt-3 px-4">
                        <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                            <h1 class="h2">Biodata Data</h1>
                        </div>

                        <a href="/biodata/add">
                            <button type="button" class="btn btn-primary mb-3">
                                <span data-feather="plus"></span>
                                Add New Biodata
                            </button>
                        </a>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Username</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Hobby</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% games.forEach((game)=> { %>
                                        <tr>
                                            <td>
                                                <%= game.username %>
                                            </td>
                                            <td>
                                                <%= game.Biodatum ? game.Biodatum.name : '' %>
                                            </td>
                                            <td>
                                                <%= game.Biodatum ? game.Biodatum.hobby : '' %>
                                            </td>
                                            <td>
                                                <a href="/biodata/<%= game.id %>">
                                                    <button type="button" class="btn btn-success mb-3">
                                                        Detail
                                                    </button>
                                                </a>
                                                <a href="/biodata/edit/<%= game.id %>">
                                                    <button type="button" class="btn btn-warning mb-3">
                                                        Edit
                                                    </button>
                                                </a>
                                                <a href="/biodata/delete/<%= game.id %>">
                                                    <button type="button" class="btn btn-danger mb-3">
                                                        Delete
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </main>
            </div>
        </div>

        <%- include('../partials/script'); %>
</body>

</html>